body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
.header {
    text-align: center;
    height: 120px;
    text-transform: uppercase;
    padding: 32px;
    background-color: #1b1b32;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }